html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

* *:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
  color: #fff;
  max-width: 1450px;
  margin: 0 auto;
}

input,
textarea,
button,
select {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  outline: none;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input {
  line-height: normal;
}

section[id] {
  scroll-margin-top: 50px;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 20px;
}

.title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 50px;
  font-weight: 700;
  color: #031722;
}

@media screen and (max-width: 479px) {
  .title {
    font-size: 40px;
  }
}

.header {
  padding: 15px 0;
  background: rgba(0, 0, 0, 0.4);
  font-weight: 500;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.header__logo {
  width: 50px;
  height: 50px;
}

.header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  list-style: none;
}

.header__menu-item {
  padding: 0 20px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.header__menu-item:hover {
  font-weight: 700;
  color: #00ffff;
}

.header__menu-item:hover .header__menu-text::after {
  width: 100%;
}

.header__menu-text {
  padding: 10px;
  position: relative;
}

.header__menu-text::after {
  content: "";
  height: 3px;
  width: 0;
  background: #00ffff;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.header__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: none;
      flex-wrap: none;
}

.header__button-btn {
  padding: 10px 25px;
  background-color: #00ffff;
  border-radius: 30px;
  font-weight: bold;
  color: #031722;
}

.header__button-toggle {
  cursor: pointer;
  font-size: 30px;
  margin-left: 30px;
  outline: none;
  border: none;
  display: none;
}

.header__fixed {
  width: 100%;
  position: fixed;
  z-index: 99;
  background: #031722;
  color: #fff;
}

.active {
  font-weight: 700;
  color: #00ffff;
  font-size: 18px;
}

.active .header__menu-text::after {
  width: 100%;
}

.menu {
  display: none;
}

.menu {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 300px;
  background-color: #fff;
  z-index: 999;
  background: #031722;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 15px 10px;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 15px 10px;
  -webkit-transform: translateX(120%);
      -ms-transform: translateX(120%);
          transform: translateX(120%);
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  will-change: transform;
}

.menu.is-active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.menu-close {
  cursor: pointer;
  font-size: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: none;
      flex-wrap: none;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.menu-close:hover {
  background-color: #65c1c1;
  color: #031722;
}

.menu-list {
  list-style: none;
  height: 100%;
  padding: 70px 20px 20px;
}

.menu-item {
  margin-bottom: 10px;
}

.menu-link {
  display: block;
  padding: 15px;
  text-transform: capitalize;
  color: #00ffff;
  border-radius: 6px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.menu-link:hover {
  color: #fff;
  background-color: #031722;
  font-weight: bold;
}

.menu-phone {
  padding: 15px;
  color: #00ffff;
}

.menu-phone a {
  color: inherit;
  font-weight: bold;
}

.menu-btn {
  padding: 15px 40px;
  font-weight: bold;
  background: #00ffff;
  display: inline-block;
  border-radius: 20px;
  margin-left: 15px;
  margin-top: 15px;
  color: #031722;
}

.home {
  background: rgba(0, 0, 0, 0.4);
  margin: 0 auto;
}

.home__container {
  max-width: inherit;
}

.home__content {
  color: #fff;
  max-width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 95px 0;
}

.home__content p {
  font-size: 18px;
}

.home__content-title {
  font-size: 60px;
  font-weight: 700;
  margin: 15px 0 30px 0;
}

.home__content span {
  margin-bottom: 30px;
  text-align: center;
  font-size: 20px;
  line-height: 1.5;
}

.home__button {
  padding: 15px 30px;
  background-color: #00ffff;
  color: #031722;
  font-weight: 700;
  border-radius: 50px;
}

.home__button i {
  margin-left: 5px;
}

.home__video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -9999;
  max-width: 100%;
}

.home__video video {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.about {
  background: -o-linear-gradient(315deg, #031722, #00bfbf);
  background: linear-gradient(135deg, #031722, #00bfbf);
  color: #031722;
  padding: 100px 0;
}

.about__content {
  background: -o-linear-gradient(315deg, #00ffff, #65c1c1);
  background: linear-gradient(135deg, #00ffff, #65c1c1);
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px 15px;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px 15px;
  padding: 50px;
  border-radius: 30px;
}

.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: none;
      flex-wrap: none;
  gap: 50px;
}

.about__info {
  width: 60%;
}

.about__info ul {
  list-style: none;
}

.about__info-item {
  border-bottom: 2px solid #031722;
  margin-bottom: 30px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 2px 10px 5px 0px;
          box-shadow: rgba(0, 0, 0, 0.2) 2px 10px 5px 0px;
}

.about__info-icon {
  display: inline-block;
  background-color: #031722;
  color: #fff;
  padding: 15px 10px;
  width: 85px;
  font-weight: 700;
}

.about__info-text {
  margin-left: 20px;
  color: #031722;
  font-size: 20px;
  font-weight: 700;
}

.about__image {
  width: 40%;
  padding: 15px;
  position: relative;
}

.about__image::after {
  content: "";
  display: block;
  width: 200px;
  height: 200px;
  border-top: 6px solid #031722;
  border-left: 6px solid #031722;
  position: absolute;
  top: 0;
  left: 0;
}

.about__image::before {
  content: "";
  display: block;
  width: 200px;
  height: 200px;
  border-right: 6px solid #031722;
  border-bottom: 6px solid #031722;
  position: absolute;
  bottom: 0;
  right: 0;
}

.about__image img {
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px 15px;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px 15px;
  border-radius: 20px;
}

.resume {
  background-color: #00bfbf;
  padding: 50px 0;
}

.resume__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.resume__item {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: none;
      flex-wrap: none;
}

.resume__item--title {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
  padding-bottom: 10px;
  letter-spacing: 5px;
  font-size: 30px;
  width: 20%;
  color: #65c1c1;
}

.resume__inner {
  padding: 30px;
  border: 3px dashed #031722;
  border-radius: 5px;
  margin: 40px 20px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.resume__inner--title {
  font-size: 25px;
  margin-bottom: 20px;
}

.resume__inner--time {
  margin-bottom: 15px;
}

.resume__inner:hover {
  border: 3px solid #00ffff;
  -webkit-box-shadow: #626161 3px 3px 20px 0px;
          box-shadow: #626161 3px 3px 20px 0px;
  margin: 40 px 20px;
  background: #fff;
  color: #031722;
}

.resume__exp--title {
  position: relative;
}

.resume__exp--title::after {
  content: "";
  display: block;
  width: 300px;
  height: 2px;
  background-color: #65c1c1;
  position: absolute;
  top: 62px;
  left: 5px;
}

.resume__exp--title::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-color: #00ffff;
  border-radius: 50%;
  position: absolute;
  top: 55px;
  left: 0;
  z-index: 2;
  -webkit-box-shadow: #00ffff 300px 0 0px 0px;
          box-shadow: #00ffff 300px 0 0px 0px;
}

.resume__education--title {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.resume__education--title::after {
  content: "";
  display: block;
  width: 300px;
  height: 2px;
  background-color: #65c1c1;
  position: absolute;
  bottom: -5px;
  left: 5px;
}

.resume__education--title::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-color: #00ffff;
  border-radius: 50%;
  position: absolute;
  top: 52px;
  left: 0;
  z-index: 2;
  -webkit-box-shadow: #00ffff 300px 0 0px 0px;
          box-shadow: #00ffff 300px 0 0px 0px;
}

.skills {
  background: -o-linear-gradient(315deg, #00bfbf, #031722);
  background: linear-gradient(135deg, #00bfbf, #031722);
  color: #031722;
  padding: 100px 0;
}

.skills__list {
  background: -o-linear-gradient(315deg, #65c1c1, #00ffff);
  background: linear-gradient(135deg, #65c1c1, #00ffff);
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px 15px;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px 15px;
  padding: 0 60px;
  border-radius: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.skills__item {
  list-style: none;
}

.skills__item-image {
  margin: 50px 0;
  opacity: 50%;
  cursor: pointer;
  padding: 10px 50px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.skills__item-image:hover {
  border-radius: 0 50px 0 50px;
  opacity: 100%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 10px 15px 20px 0px;
          box-shadow: rgba(0, 0, 0, 0.2) 10px 15px 20px 0px;
  background-color: #00ffff;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.portfolio {
  background-color: #00bfbf;
  padding: 100px 0 50px;
  color: #031722;
}

.portfolio__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: none;
      flex-wrap: none;
  margin-bottom: 50px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.portfolio__item:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  text-align: left;
}

.portfolio__item:hover {
  -webkit-box-shadow: #626161 3px 3px 20px 0px;
          box-shadow: #626161 3px 3px 20px 0px;
  border-radius: 30px;
}

.portfolio__item:hover .portfolio__info-title {
  color: #fff;
}

.portfolio__item:hover .portfolio__image {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.portfolio__item:hover .portfolio__view {
  display: block;
}

.portfolio__image {
  width: 40%;
  position: relative;
  border-radius: 30px;
  border: 5px solid #00ffff;
  -webkit-box-shadow: #626161 3px 3px 20px 0px;
          box-shadow: #626161 3px 3px 20px 0px;
}

.portfolio__image img {
  border-radius: 25px;
  overflow: hidden;
}

.portfolio__view {
  display: none;
}

.portfolio__view span {
  padding: 15px 30px;
  background: #031722;
  color: #00ffff;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: none;
      flex-wrap: none;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  line-height: 1.2;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
  -webkit-box-shadow: #000 3px 3px 5px 0px;
          box-shadow: #000 3px 3px 5px 0px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.portfolio__view span:hover {
  background: #00ffff;
  color: #031722;
}

.portfolio__info {
  width: 60%;
  padding: 0 50px;
}

.portfolio__info-title {
  margin-bottom: 25px;
  font-size: 30px;
}

.portfolio__info-content {
  list-style-position: inside;
}

.portfolio__info-content li {
  margin-bottom: 20px;
  line-height: 1.4;
}

.portfolio__info-content li strong {
  font-size: 20px;
  margin-right: 15px;
}

.contact {
  background: #246262;
  padding: 100px 0 50px;
}

.contact__container {
  max-width: 900px;
  margin: 0 auto;
}

.contact__title {
  text-align: left;
}

.contact__desc {
  display: block;
  margin-bottom: 50px;
}

.contact__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

.contact__info {
  color: #00ffff;
}

.contact__info-item {
  text-align: left;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: none;
      flex-wrap: none;
}

.contact__info-item strong {
  width: 100px;
  color: #fff;
  margin-left: 20px;
}

.contact__name {
  font-size: 25px;
  margin-bottom: 50px;
}

.contact__field {
  padding: 15px 30px;
  display: block;
  width: 100%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  background-color: transparent;
  margin-bottom: 30px;
  color: #fff;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.contact__field::-webkit-input-placeholder {
  color: #fff;
}

.contact__field::-moz-input-placeholder {
  color: #fff;
}

.contact__field:focus {
  border-color: #00ffff;
}

.contact__area {
  line-height: 1.55;
  resize: none;
  min-height: 100px;
  border-radius: 4px;
}

.contact__button {
  background: -o-linear-gradient(125deg, #00ffff, #031722);
  background: linear-gradient(325deg, #00ffff, #031722);
  padding: 15px 30px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  border-radius: 10px;
}

.contact__button:hover {
  background: #00ffff;
  color: #031722;
}

.footer {
  padding: 30px;
  background: #031722;
}

.footer span {
  font-size: 20px;
  color: #545454;
  font-style: italic;
}

.footer__backtotop {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  -webkit-transform: translate(-100%, -100%);
      -ms-transform: translate(-100%, -100%);
          transform: translate(-100%, -100%);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.footer__backtotop i {
  background: cyan;
  padding: 15px;
  border-radius: 5px;
  font-size: 25px;
  color: #031722;
  cursor: pointer;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 5px 5px 5px 0px;
          box-shadow: rgba(0, 0, 0, 0.2) 5px 5px 5px 0px;
}

@media screen and (max-width: 1023px) {
  .header__menu {
    display: none;
  }
  .header__button-toggle {
    display: block;
  }
  .menu {
    display: block;
  }
  .home__content {
    padding: 35px 0;
    max-width: 600px;
  }
  .home__content-title {
    font-size: 40px;
  }
  .home__content span {
    margin-bottom: 30px;
    line-height: 1.4;
  }
  .about__content {
    padding: 20px;
  }
  .about__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .about__info, .about__image {
    width: 80%;
  }
  .resume__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .resume__item {
    width: 100%;
  }
  .resume__inner {
    margin: 0 50px 50px 50px;
  }
  .skills__list {
    padding: 0 50px;
  }
  .skills__item-image {
    margin: 30px 0;
    padding: 10px 30px;
  }
  .skills__item-image:hover {
    border-radius: 20px;
  }
  .portfolio__info-title {
    font-size: 25px;
    margin-bottom: 15px;
  }
  .portfolio__info-content li {
    margin-bottom: 15px;
  }
  .portfolio__info-content li strong {
    font-size: 16px;
    margin-right: 10px;
  }
  .portfolio__view span {
    font-size: 16px;
    padding: 15px 10px;
  }
  .contact__info-item {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    background: #031722;
  }
  .home {
    background-color: #00bfbf;
  }
  .home__container {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .home__content {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0;
  }
  .home__content-title {
    font-size: 35px;
    margin: 30px 0;
  }
  .home__content span {
    line-height: 1.5;
    margin-bottom: 30px;
    font-size: 18px;
    text-align: left;
  }
  .home__video {
    display: none;
  }
  .about__content {
    border-radius: 15px;
  }
  .about__info, .about__image {
    width: 100%;
  }
  .resume__inner {
    margin: 0 0 50px 0;
  }
  .skills__list {
    padding: 0 30px;
    border-radius: 10px;
  }
  .skills__item-image {
    margin: 15px 0;
    padding: 15px 20px;
  }
  .portfolio__list {
    padding: 20px 50px;
  }
  .portfolio__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 50px;
    -webkit-box-shadow: #bdbdbd 0px 0px 10px 5px;
            box-shadow: #bdbdbd 0px 0px 10px 5px;
    border-radius: 30px;
    color: #031722;
  }
  .portfolio__item:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .portfolio__image, .portfolio__info {
    width: 80%;
    -webkit-box-shadow: none;
            box-shadow: none;
    margin-bottom: 50px;
  }
  .contact {
    padding: 50px 0;
  }
  .contact__list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 479px) {
  .about__content {
    padding: 50px 10px;
  }
  .about__info-text {
    font-size: 16px;
    margin-left: 10px;
  }
  .about__info-icon {
    padding: 10px;
  }
  .about__image {
    width: 90%;
    padding: 15px;
  }
  .about__image::after, .about__image::before {
    width: 100px;
    height: 100px;
  }
  .resume {
    padding-bottom: 0;
  }
  .resume__inner {
    padding: 15px;
  }
  .resume__inner--title {
    font-size: 20px;
  }
  .resume__item--title {
    font-size: 25px;
  }
  .resume__exp--title::after {
    width: 255px;
    top: 45px;
  }
  .resume__exp--title::before {
    top: 38px;
    -webkit-box-shadow: #00ffff 255px 0 0px 0px;
            box-shadow: #00ffff 255px 0 0px 0px;
  }
  .resume__education--title::after {
    bottom: 0;
    width: 250px;
  }
  .resume__education--title::before {
    top: 39px;
    -webkit-box-shadow: #00ffff 250px 0 0px 0px;
            box-shadow: #00ffff 250px 0 0px 0px;
  }
  .skills {
    padding: 50px 0;
  }
  .skills__list {
    padding: 0 10px;
  }
  .skills__item-image {
    margin: 20px 0;
    padding: 5px 15px;
    opacity: 100%;
  }
  .skills__item-image:hover {
    background: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .portfolio {
    padding: 50px 0 0 0;
  }
  .portfolio__list {
    padding: 0 0 50px 0;
  }
  .portfolio__title {
    margin-bottom: 30px;
  }
  .portfolio__image, .portfolio__info {
    margin-bottom: 20px;
  }
  .portfolio__info-title {
    font-size: 20px;
  }
  .contact__name {
    margin-bottom: 30px;
  }
  .footer__backtotop {
    right: -40px;
  }
}
