.portfolio {
  background-color: $color-blue400;
  padding: 100px 0 50px;
  color: $color-primary;
  &__item {
    @include flex(center, space-between, none);
    margin-bottom: 50px;
    transition: all 0.2s linear;
    &:nth-child(even) {
      flex-direction: row-reverse;
      text-align: left;
    }

    &:hover {
      box-shadow: #626161 3px 3px 20px 0px;
      border-radius: 30px;
      .portfolio__info-title {
        color: #fff;
        // color: $color-primary;
      }
      .portfolio__image {
        box-shadow: none;
      }
      .portfolio__view {
        display: block;
      }
    }
  }

  &__image {
    width: 40%;
    position: relative;
    border-radius: 30px;
    border: 5px solid $color-secondary;
    box-shadow: #626161 3px 3px 20px 0px;

    img {
      border-radius: 25px;
      overflow: hidden;
    }
  }

  &__view {
    span {
      padding: 15px 30px;
      background: $color-primary;
      color: $color-secondary;
      border-radius: 10px;
      @include flex(center, space-between, none);
      text-align: center;
      font-size: 25px;
      font-weight: bold;
      line-height: 1.2;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;
      box-shadow: #000 3px 3px 5px 0px;
      transition: all 0.2s linear;
      &:hover {
        background: $color-secondary;
        color: $color-primary;
      }
    }
    display: none;
  }
  &__info {
    width: 60%;
    padding: 0 50px;
    &-title {
      margin-bottom: 25px;
      font-size: 30px;
    }
    &-content {
      list-style-position: inside;
      li {
        margin-bottom: 20px;
        line-height: 1.4;

        strong {
          font-size: 20px;
          margin-right: 15px;
        }
      }
    }
  }
}
