@media screen and (max-width: 1023px) {
  .header {
    &__menu {
      display: none;
    }
    &__button {
      &-toggle {
        display: block;
      }
    }
  }
  .menu {
    display: block;
  }

  .home {
    &__content {
      padding: 35px 0;
      max-width: 600px;
      &-title {
        font-size: 40px;
      }
      span {
        margin-bottom: 30px;
        line-height: 1.4;
      }
    }
  }

  .about {
    &__content {
      padding: 20px;
    }
    &__list {
      flex-direction: column-reverse;
    }
    &__info,
    &__image {
      width: 80%;
    }
  }

  .resume {
    &__title {
    }
    &__list {
      flex-direction: column;
    }
    &__item {
      width: 100%;
    }
    &__inner {
      margin: 0 50px 50px 50px;
    }
  }

  .skills {
    &__list {
      padding: 0 50px;
    }
    &__item-image {
      margin: 30px 0;
      padding: 10px 30px;
      &:hover {
        border-radius: 20px;
      }
    }
  }

  .portfolio {
    &__info {
      &-title {
        font-size: 25px;
        margin-bottom: 15px;
      }
      &-content li {
        margin-bottom: 15px;
        strong {
          font-size: 16px;
          margin-right: 10px;
        }
      }
    }
    &__view span {
      font-size: 16px;
      padding: 15px 10px;
    }
  }

  .contact__info-item {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    background: $color-primary;
  }

  .home {
    background-color: $color-blue400;
    &__container {
      padding-top: 80px;
      padding-bottom: 80px;
    }
    &__content {
      align-items: flex-start;
      &-title {
        font-size: 35px;
        margin: 30px 0;
      }
      padding: 0;
      span {
        line-height: 1.5;
        margin-bottom: 30px;
        font-size: 18px;
        text-align: left;
      }
    }
    &__video {
      display: none;
    }
  }

  .about {
    &__content {
      border-radius: 15px;
    }
    &__info,
    &__image {
      width: 100%;
    }
  }

  .resume {
    &__inner {
      margin: 0 0 50px 0;
    }
  }

  .skills {
    &__list {
      padding: 0 30px;
      border-radius: 10px;
    }
    &__item-image {
      margin: 15px 0;
      padding: 15px 20px;
    }
  }

  .portfolio {
    &__list {
      padding: 20px 50px;
    }
    &__item {
      flex-direction: column;
      padding-top: 50px;
      box-shadow: rgb(189, 189, 189) 0px 0px 10px 5px;
      border-radius: 30px;
      color: $color-primary;
      &:nth-child(even) {
        flex-direction: column;
      }
    }
    &__image,
    &__info {
      width: 80%;
      box-shadow: none;
      margin-bottom: 50px;
    }
  }

  .contact {
    padding: 50px 0;
    &__list {
      grid-template-columns: 1fr;
    }
  }
}

@media screen and(max-width:479px) {
  .about {
    &__content {
      padding: 50px 10px;
    }
    &__info {
      &-text {
        font-size: 16px;
        margin-left: 10px;
      }
      &-icon {
        padding: 10px;
      }
    }
    &__image {
      width: 90%;
      padding: 15px;
      &::after,
      &::before {
        width: 100px;
        height: 100px;
      }
    }
  }

  .resume {
    padding-bottom: 0;
    &__inner {
      padding: 15px;
      &--title {
        font-size: 20px;
      }
    }
    &__item--title {
      font-size: 25px;
    }
    &__exp--title {
      &::after {
        width: 255px;
        top: 45px;
      }
      &::before {
        top: 38px;
        box-shadow: $color-secondary 255px 0 0px 0px;
      }
    }
    &__education--title {
      &::after {
        bottom: 0;
        width: 250px;
      }
      &::before {
        top: 39px;
        box-shadow: #00ffff 250px 0 0px 0px;
      }
    }
  }

  .skills {
    padding: 50px 0;
    &__list {
      padding: 0 10px;
    }
    &__item-image {
      margin: 20px 0;
      padding: 5px 15px;
      opacity: 100%;
      &:hover {
        background: transparent;
        box-shadow: none;
      }
    }
  }

  .portfolio {
    padding: 50px 0 0 0;
    &__list {
      padding: 0 0 50px 0;
    }
    &__title {
      margin-bottom: 30px;
    }
    &__image,
    &__info {
      margin-bottom: 20px;
    }
    &__info-title {
      font-size: 20px;
    }
  }

  .contact__name {
    margin-bottom: 30px;
  }

  .footer__backtotop {
    right: -40px;
  }
}
